<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
	
</head>
<body>
	<div class="container">
	
	<img  class="profile" src="" th:src="@{/image/PHOTO.jpg}" alt="" />
	
	<h1>Adding CSS, JS and Image in Thymleaf</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptas ab quas ipsum odit ducimus molestiae delectus nulla accusantium ex quis doloremque autem alias eos incidunt consectetur ullam labore unde hic placeat dolore ipsa voluptatem minima recusandae deserunt consequuntur quod! Dolor atque amet aut fuga hic rerum pariatur ducimus at.</p>
	</div>
	<script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>